@import "macchiato.css";

/* --- Global Settings --- */
* {
    font-family: Symbols Nerd Font, JetBrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: 0.25s;
}

window#waybar {
    background: alpha(@base, 0.99);
    color: @text;
    border-radius: 0.5em;
    border: 0.1em solid @overlay1;
}

/* --- Container Modules --- */
#window,
#workspaces,
#system,
#session,
#tray {
    background-color: @surface0;
    border: 0.1em solid @overlay0;
    border-radius: 0.5em;
}

#window,
#workspaces {
    margin: 0.5em;
    padding: 0 0.25em;
}

#system,
#session {
    margin: 0.5em 0.25em;
    padding: 0 0.15em;
}

#tray {
    margin: 0.5em 0.25em;
    padding: 0.1em 1em;
}

#workspaces button {
    padding: 0.1em 0.5em;
    margin: 0.1em 0.25em;
    color: @text;
    border-radius: 0.5em;
    transition: 0s;
}

#workspaces button.active { color: @peach; }
#workspaces button:hover { color: @maroon; }

/* --- Group Children --- */
#system > widget > .module,
#session > widget > .module {
    padding: 0.1em 1em;
}

#system > widget > #keyboard-state {
    padding: 0;
}

/* --- Keyboard State Logic --- */
#keyboard-state {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

#keyboard-state label {
    /* Transition everything including colors to prevent "popping" */
    transition: all 0.25s;

    font-size: 0px;
    margin: 0;
    padding: 0;
    color: transparent;
}

#keyboard-state label.locked {
    font-size: 15px;
    padding: 0.1em 1em;
    color: @green;
}

/* Individual Colors */
#clock { color: @blue; }
#pulseaudio { color: @maroon; }
#custom-lock { color: @lavender; }
#custom-power { color: @red; }

/* Battery States */
#battery { color: @green; }
#battery.warning:not(.charging) { color: @red; }

/* Power Profiles */
#power-profiles-daemon.performance { color: @red; }
#power-profiles-daemon.balanced { color: @yellow; }
#power-profiles-daemon.power-saver { color: @green; }
