layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    pane stacked=true {
        pane name="nvim" {
            command "nvim"
            args "."
        }

        pane
    }


    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
